.check-label {
  color: white;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}
.checkbox {
  margin-bottom: 10px;
}
.check-heading {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
.container-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
